.section_header {
    border: none;
}
.core_partners_container {
    margin-top: 60px;
}
.core_partners_item {
    display: block;
    height: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-bottom: 7.5rem;
}
.core_partners_item img {
    height: 100%;
    max-width: 200px;
}
.additional_partner_container {
    background: var(--primary-blue);
    color: #fff;
}
.additional_partner_container .subsection_header {
    color: #fff;
}
.additional_main_container h3 {
    font-size: 1.125rem;
    line-height: 2rem;
}
.additional_text_wrapper {
    font-size: .85rem;
    padding-top: 1rem;
}
.additional_text_wrapper p:first-child {
    font-weight: 500;
}