.article {
    margin-top: 30px;
    background: #fff;
}
.article .article_img{
    height: 225px;
}
.text_contain {
    padding-top: 15px;
    padding-bottom: 15px;
}
.header {
    font-size: 20px;
    font-family: ShockmouseSans-Medium, sans-serif;
}
.article_subtitle {
    font-size: 14px;
    font-weight: 300;
}